{% extends 'base.html' %} 

{% block 'content' %} 
{% load static %}
<div class="container card mb-3" style="max-width: 60%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{%static 'trabajo.png' %}" class="img-fluid rounded-start" alt="..." width="200">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Experiencia Laboral</h3>
          <div>
          <p class="card-text " style="text-align: justify">
            2006 - 2008 Cobradora Telefónica en empresa PayBack S.A. Ubicada en Av. Brasil 1559, Valparaíso. 
            Desde Diciembre del 2006 hasta el 29 febrero del 2008.</p>
            <p class="card-text" style="text-align: justify">
            2006  Gestión Cobranza en Instituto AIEP, Montaña 880, Viña del Mar.</p>
            <p class="card-text" style="text-align: justify">
            2003   Vendedora de aparatos telefónicos y servicio de línea propia de Empresa Telefónica, 
                mediante empresa contratista “Carvajal”. 
                   </p>
                   <p class="card-text" style="text-align: justify">
            2001 Práctica Profesional “Ingeniería Comercial”, Dirección Regional de Registro Civil e 
Identificación, Luis Uribe #275, Iquique.</p>
                <p class="card-text" style="text-align: justify">
            1996 Reemplazo Contadora General, Oficina Contable “Alberto Henríquez”, Arlegui #1242 
                    Of.1, Viña del Mar.  </p>
                    <p class="card-text" style="text-align: justify">
                    1995 Práctica Profesional “Contadora General”, Oficina Contable “Alberto Henríquez”, Arlegui 
                        #1242 Of. 1, Viña del Mar.    </p>
        
        </div>
        </div>
      </div>
    </div>
  </div>

  {% load static %}
<div class="container card mb-3" style="max-width: 60%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{%static 'escolar.png' %}" class="img-fluid rounded-start" alt="..." width="200">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">Escolaridad</h3>
          <div>
          <p class="card-text " style="text-align: justify">
            2003 Título de “Ingeniero Comercial, Licenciada en Administración de Empresas y 
Comercio Internacional”. 

            </p>
            <p class="card-text" style="text-align: justify">
            </p>
            <p class="card-text" style="text-align: justify">
            1997-2001  Enseñanza Superior de la carrera de “Ingeniería Comercial” en Universidad Arturo Prat, 
            Iquique. </p>
                <p class="card-text" style="text-align: justify">
                1995 Título de “Contadora General”. </p>
                <p class="card-text" style="text-align: justify">
                1991-2001 Enseñanza Media en Liceo Comercial “Alberto Blest Gana”, Viña del Mar.</p>
                    <p class="card-text" style="text-align: justify">
                1983-1990 Enseñanza Básica en Escuela D-483 “Dama Blanca”, Talcahuano. </p>
        
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 